<div class="mt-5">
    <div class="d-flex justify-content-center">
        <!-- <div class="card shadow rounded-lg w-50">
            <div class="card-header"><b style="font-size: large;">Change Password</b></div>
            <div class="card-body">
                <form action="#">
                    <div class="form-group">
                        <label for="cpwd" style="font-size: large;">Current Password :</label>
                        <input type="password" name="Current Password" id="cpwd" placeholder="Enter Current Password..."
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="npwd" style="font-size: large;">New Password :</label>
                        <input type="password" name="New Password" id="npwd" placeholder="Enter New Password..."
                            class="form-control">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-sm btn-outline-success w-25"
                            style="font-size: x-large; border-radius: 10px;">Change</button>
                    </div>
                </form>
            </div>
        </div> -->
        <mat-card class="w-50" style="background-color: rgb(255, 255, 255); border-radius: 20px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            ">
            <mat-card-header class="p-3 pt-4 bg-light"
                style="border-top-left-radius: 20px;font-size: 2rem; border-top-right-radius: 20px;">
                Change Password </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-4">
                <div class="d-flex align-items-center justify-content-center" style="font-size: medium;">
                    <form class="w-100">
                        <div class="form-group">
                            <label for="cpwd">Current Password :</label>
                            <input type="password" name="Current Password" id="cpwd"
                                placeholder="Enter Current Password..." class="form-control form-control-lg">
                        </div>
                        <div class="form-group">
                            <label for="npwd">New Password :</label>
                            <input type="password" name="New Password" id="npwd" placeholder="Enter New Password..."
                                class="form-control form-control-lg">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-sm btn-success w-25"
                                style="font-size: 1.5rem; border-radius: 10px;">{{btnVal}} </button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>